*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --grey-900: #0e0e0e;
  --grey-800: #121212;
  --grey-700: #6c6767;
  --grey-600: #898989;
  --grey-500: #b9b9b9;
  --purple-300: #f31caa;
  --purple-600: #ad3eff;
  --error: #ff6966;
  --translucent: #121212c8;
  --transparent-pink: #f31cab10;
  --transparent-grey: #b9b9b956;
}

body {
  background-color: var(--grey-800);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.7rem;
  font-weight: 800;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
}

/* HELPERS */
.container {
  padding-inline: 2rem;
  padding-block: 1rem;
  width: 100%;
}

.place-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon-small {
  width: 50%;
}

.btn {
  background-color: transparent;
  border: none;
  padding-block: 2px;
  padding-inline: 10px;
}

.btn-page {
  background-color: transparent;
  border: 1px solid var(--purple-300);
  border-radius: 22px;
  color: var(--purple-300);
  padding: 0.2rem 1rem;
  letter-spacing: 2px;
}

.btn-page:hover {
  transform: scale(1.04);
  background-color: var(--transparent-pink);
}

.btn-page-disabled{
  background-color: transparent;
  border: 1px solid var(--grey-600);
  border-radius: 22px;
  color: var(--grey-600);
  padding: 0.2rem 1rem;
  letter-spacing: 2px;
}

.arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.divider {
  width: 0.5rem;
}

@media screen and (min-width: 992px) {
  .btn-page {
    padding: 0.2rem 2rem;
  }
}

/* HEADER STYLE */
.bg-header {
  background-color: var(--grey-800);
  padding-inline: 3rem;
  padding-block: 1rem;
  position: fixed;
  z-index: 999;
}
.cart-icon {
  width: 80%;
}
.cart-icon:hover, .cart-icon-small:hover {
  transform: scale(1.04);
}

@media screen and (min-width: 586px) {
  .bg-header {
    padding-inline: 6rem;
  }
}

@media screen and (min-width: 992px) {
  .bg-header {
    padding-inline: 7rem;
  }
}

/* FOOTER STYLE */
.position-footer {
  margin-top: 118px;
}

.footer-icon {
  width: 3rem;
  height: 3rem;
}

.footer-text {
  line-height: 0.5rem;
}

/* HERO */
@media screen and (min-width: 992px) {
  .hero-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-xl h1 {
    font-size: 3rem;
    padding-right: 8rem;
  }
  .hero-xl img {
    width: 500px !important;
    height: 390px !important;
  }
}

@media screen and (min-width: 1200px) {
  .hero-xl h1 {
    font-size: 4rem;
    margin-right: 4rem;
  }
}
/* HOME BODY STYLE */
.search-section {
  margin-top: 1.7rem;
}
.request-p {
  color: var(--grey-600);
  margin-top: 0.9rem;
  font-size: 0.7rem;
  text-align: center;
}

.input-wrapper {
  background-color: var(--grey-800);
  border: 1px solid var(--grey-500);
  width: 100%;
  border-radius: 22px;
  padding-inline: 15px;
  padding-block: 8px;
  margin-top: 1.5rem;
}

.input-wrapper input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 3px;
  appearance: none;
  outline: none;
}

.input-wrapper button .search-icon:hover {
  transform: scale(1.04);
}

.page-select {
  background-color: var(--grey-800);
  color: var(--white);
  border: none;
}
/* .page-select option:hover {
  background-color: var(--transparent-pink) !important;
} */

@media screen and (min-width: 992px) {
  .search-section {
    margin-top: 3rem;
  }

  h4{
    font-size: 3rem;
  }

  .request-p {
    font-size: 1rem;
  }
  .input-wrapper {
    width: 30%;
  }
}

/* CHECKOUT STYLE */
.btn-remove {
  background-color: var(--grey-800);
  border: none;
  color: var(--purple-300);
}
.btn-remove:hover {
  transform: scale(1.03);
}

.text-checkout {
  text-align: center;
  margin-top: 3rem;
}

.form-container {
  border: 1px solid var(--grey-600);
  border-radius: 15px;
  background-color: var(--grey-900);
  height: 100%;
  width: 100%;
  margin-top: 4.5rem;
  padding: 2rem;
}

.form-container h5 {
  letter-spacing: 1px;
  font-weight: 600;
}

.checkout-form input {
  background-color: var(--grey-900);
  color: var(--white);
  border: 1px solid;
  padding: 4px 10px;
  border-radius: 15px;
  margin-block: 10px;
  margin-inline: 3px;
}

.medium-input {
  width: 100%;
}

.small-input {
  width: 80px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.cart-item p {
  font-weight: 600;
  letter-spacing: 1.5px;
}



@media screen and (min-width: 488px) {
  .checkout-title {
    font-size: 3.5rem;
  }
  .checkout-form .input-wrap {
    display: flex;
    justify-content: space-between;
  }
  .checkout-form .medium-input{
    width: 100%;
  }
  
  .checkout-form .small-input {
    width: 90px;
  }
}

@media screen and (min-width: 992px) {
  .xl-checkout {
    display: flex;
    justify-content: space-between;
  }
  .list-container {
    margin-top: 2rem;
  }
  .form-container {
    width: 40%;
    padding-block: 3rem;
  }
  .cart-item {
    width: 550px;
  }
}
