*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --grey-900: #0e0e0e;
  --grey-800: #121212;
  --grey-700: #6c6767;
  --grey-600: #898989;
  --grey-500: #b9b9b9;
  --purple-300: #f31caa;
  --purple-600: #ad3eff;
  --error: #ff6966;
}

body {
  background-color: var(--grey-800);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.7rem;
  font-weight: 800;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
}

/* HELPERS */
.container {
  padding-inline: 2rem;
  padding-block: 1rem;
  width: 100%;
}

.place-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER STYLE */
.bg-header {
  background-color: var(--grey-800);
  padding-inline: 3rem;
  padding-block: 1rem;
  position: fixed;
  z-index: 999;
}
.cart-icon {
  width: 80%;
}
.cart-icon:hover {
  transform: scale(1.04);
}


/* FOOTER STYLE */
.position-footer {
  margin-top: 118px;
}

.footer-icon {
  width: 3rem;
  height: 3rem;
}

.footer-text {
  line-height: 0.5rem;
}

/* HERO */
@media screen and (min-width: 992px) {
  .hero-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-xl h1 {
    font-size: 3.5rem;
    margin-right: 2.5rem;
    padding-right: 8rem;
  }
  .hero-xl img {
    width: 500px !important;
    height: 390px !important;
  }
}

/* HOME BODY STYLE */
.search-section {
  margin-top: 1.7rem;
}
.request-p {
  color: var(--grey-600);
  margin-top: 0.9rem;
  font-size: 0.7rem;
  text-align: center;
}

.input-wrapper {
  background-color: var(--grey-800);
  border: 1px solid var(--grey-500);
  width: 100%;
  border-radius: 22px;
  padding-inline: 15px;
  padding-block: 8px;
  margin-top: 1.5rem;
}

.input-wrapper input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 3px;
  appearance: none;
  outline: none;
}

.input-wrapper button {
  background-color: transparent;
  border: none;
  padding-block: 2px;
  padding-inline: 10px;
}

.input-wrapper button .search-icon:hover {
  transform: scale(1.04);
}

@media screen and (min-width: 992px) {
  .search-section {
    margin-top: 3rem;
  }

  h4{
    font-size: 3rem;
  }

  .request-p {
    font-size: 1rem;
  }
  .input-wrapper {
    width: 30%;
  }
}